# Directories to ignore (Everything except Kaggle)
computer-vision/
data-analysis-and-eda/
deep-learning/
paper-implementations/
utils/

# Kaggle Competitions (Ignore everything except titanic)
kaggle/competitions/*
!kaggle/competitions/titanic/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
venv/

# OS
.DS_Store
Thumbs.db
*.pdf
.vscode/
*.pdf
.vscode/
